build.sh
test-m3-apache.yaml
apache/build.sh
fpm/build.sh
deploy-test-m3-apache.sh

examples/*/*
!examples/*/.env
!examples/*/.mautic_env
!examples/*/*compose.yml
!examples/*/*compose.yaml
!examples/basic-with-redis-cache/mautic/config/local.php
