name: Build and Push Docker Images (v4)

env:
  DOCKERHUB_USERNAME: molluxmollux

on:
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [apache, fpm]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Dockerhub
        uses: docker/login-action@v3
        with:
          username: molluxmollux
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.image }} image
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.image }}
          file: ./${{ matrix.image }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: mautic/mautic:v4-${{ matrix.image }}
